#googleMap {
    height: 600px;
    width: 100%;
}

#floating-panel {
    position: absolute;
    top: 60px;
    left: 81%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
}
