html, body, #googleMap {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#googleMap {
    height: 100%;
    width: 100%;
    position: relative;
}

#floating-panel {
    position: absolute;
    right: 0;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    margin-top: 10px;
    margin-right: 10px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}

.btn-danger.active {
    background-color: #db221c;
}