<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div id="floating-panel">
    <button type="button" id="addCough" class="btn btn-primary">Köh.</button>
</div>
<div id="googleMap"></div>
<div class="modal"></div>

</body>

</html>