<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>
  <div class="container">
    <div>
      <h1>Atostek Oirearviohack</h1>
      <button type="button" class="btn btn-primary">Köh.</button>
    </div>
  </div>
</body>
</html>
