<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
    <div>
      <h1>Atostek Oirearviohack</h1>
      <div id="floating-panel">
        <button type="button" class="btn btn-primary">Köh.</button>
      </div>
      <div id="googleMap"></div>
    </div>
  </div>



</body>

</html>